[Desktop Entry]
Name=Astrolabe
Comment=A minimal web browser for the COSMIC desktop
Type=Application
Icon=com.bancedev.astrolabe
Exec=astrolabe %F
Terminal=false
StartupNotify=true
Categories=COSMIC
Keywords=COSMIC
MimeType=
